.add-modal{
    border: solid;
    background-color: none;
    height: 100%;
    color: blue;
    
}
 
label:before {
    content: 'â˜†';
    color: white;
    font-size: 2em;
  }
  label.on:before {
    content: 'â˜…';
    color: white;
    /* uncomment for iOS */
  /*   font-size: 2.4em;
    top: -0.1em;
    left: -0.1em; */
  }
  input:checked + label:before {
    content: 'â˜…'; 
    color: white;
    /* uncomment for iOS */
  /*   font-size: 2.4em;
    top: -0.1em;
    left: -0.1em; */
  }
  label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 20px; 
  }
  label:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    border-radius: 10px;
  }
  input[type=radio] {
    display: none;
    -webkit-appearance: none;
  }
  
  /* Non-essential */
  body {
    margin: 2em;
    background-color: #448AC1;
    text-align: center;
    /* remove gray highlight on tap in iOS */
    -webkit-tap-highlight-color:transparent;
  }
  .question {
    margin-bottom: 8em;
  }
  #q1 {
    margin-top: 6em;
  }
  p {
    color: white;
    font-family: Bitter, sans-serif;
    font-size: 2em;
  }
  #submit {
    font-size: 24px;
    font-family: Bitter, sans-serif;
    color: #448AC1;
    background-color: white;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 40px;
  }
  
 .release{
     display: flex;
     
     justify-content: space-between;
 } 
   
 .marge{
     padding-right: 30px !important;
 }